{% ckan_extends %}

{% block layout_extra %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="module-content box">
                <div>
                    <h1 class="page-heading">EXAT Data Catalog</h1>
                    <p>
                        ระบบบริหารจัดการบัญชีข้อมูล (Directory Service) การทางพิเศษแห่งประเทศไทย
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}